@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto-regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: #8c8c8c;
  color: white;
}

nav {
  display: flex;
  gap: 16px;
  color: "black";
}
a {
  color: inherit;
  min-width: 80px;
  padding: 16px 0px;
  border-bottom: 1px solid;
  border-color: white;
  text-align: center;
}
button {
  padding: 16px;
  border: none;
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 16px;
  flex: 1;
}
button:hover, .active-button {
  font-weight: 600;
  border-bottom: 3px solid black;
}

a:hover {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
}
.tab-panel {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.tab-title {
  flex: 1;
}
.tab-container {
  height: 80vh;
  padding: 0px 24px;
  overflow-y: auto;
}
.action-container {
  display: flex;
  justify-content: space-around;
}
.note-card {
  padding-top: 24px;
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  a {
    min-width: 120px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  button {
    font-size: 24px;
  }
}
